<H3 class="mt-5">GESTION DE DIRECCION IP</H3>
<form>
    <div class="mb-3">
        <label for="DireccionIp" class="form-label">Ingrese Direccion Ip:</label>
        <input type="text" class="form-control" id="DireccionIp" name="DireccionIp" value=""  [(ngModel)]="direccionIP">
        <button type="button" id="DireccionIp" name="DireccionIp" (click)="IngresarIp()">IP ingresada</button>
    </div>     
</form>

<h3 class="mt-5">RESULTADOS ENCONTRADOS</h3>
<div>
   @if (datosIp){
    <h5>INFORMACION DE LA IP</h5>
    <p><strong>País:</strong> {{ datosIp.country }}</p>
    <p><strong>Ciudad:</strong> {{ datosIp.city }}</p>

    <H5>INFORMACION DE LA UBICACION DE LA IP</H5>
    <p><strong>Fecha Local:</strong> {{ datosIp.timezone.date }}</p>
    <p><strong>Hora Local:</strong> {{ datosIp.timezone.time }}</p>
    <p><strong>Zona Horaria:</strong> {{ datosIp.timezone.offset }}</p>

    <a class="nav-link" href="https://maps.google.com/?q={{datosIp.latitude}},{{datosIp.longitude}}">Ir al lugar Link</a>
    
    }

    <h5>INFORMACION DE LA DIRECCION</h5>
    <div>
       @if (addressDetails){
            <p><strong>Dirección:</strong> {{ addressDetails.address }}</p>
            <p><strong>Ciudad:</strong> {{ addressDetails.city }}</p>
            <p><strong>Región:</strong> {{ addressDetails.region }}</p>
            <p><strong>Subregión:</strong> {{ addressDetails.subregion }}</p>
            <p><strong>País:</strong> {{ addressDetails.country }}</p>
            <hr>
       }        
    </div>
</div>
